#heading1{
    font-size:25px;
    width:100%;
    margin: 0px;
    background-color:pink;
    box-shadow: 10px 40px 25px orange;

}

.note{
    font-size:20;
    color:black;
}

.footer{
    position:fixed;
    color:white;
    bottom: 0;
    width:100%;
    background-color:grey;
    box-shadow: 15px 34px 12px blue;
}

canvas{
    border:5px;
    border-radius:20px;
    box-shadow: 12px 35px 31px red;
}